@import "../../../styles/index.scss";

.curve{
  
    margin: auto;
    
    position: relative;
     
       &-div{
        position: absolute;
       }
    &-image{
      
        
       margin-top: -24%;
    width: 91%;
        
    }
    
}
@media only screen and (max-width: 992px) {
   .dots-up{
      display: none;
   }
   .dots-down{
      display: none;
   }
}