@import '../../../styles/index.scss';

.right{
   

   &-Container{

    padding: 56px 14px 103px 14px;

    @media only screen and (max-width: 768px) {
        padding: 0px 0px 60px 0px;
        }

     }
     &-Heading{
        padding-bottom: 67px;
        align-self: center;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 576px) {
            text-align: center;
            padding: 20px;
            padding-bottom: 67px;
        }

        .Heading-content{
            max-width: 636px;
            position: relative;
        h3{
            margin-bottom: 18px;
            color: #0059EF;
        }
        .right-Heading-Image{
            position: absolute;
            right: 0;
            display: flex;
    flex-direction: row-reverse;
        }
    }
    }






    &-Cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 17px;
        column-gap: 17px;
        .card-image{
            background-image: url("../../../images/Home/Right/Rectangle\ Copy\ 14.svg");
            position: relative;
            max-width: 287px;
            height: 336px;
            width: 95%;
            flex: 0 0 25%;
           


            &-bg{
                display: flex;
                flex-direction: column;
                padding-left: 58px;
                padding-right: 58px;
                padding-top: 49px;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                img{
                    width: fit-content;
                    padding-bottom: 35px;
                }
            

            }
            .card-content{
                position: absolute;
                top: 55%;
                padding: 0 50px;
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                
    text-align: center;

                @media only screen and (max-width: 1200px) {
                padding: 0 40px;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                }
                @media only screen and (max-width: 992px){
                padding: 0 34px;
                }
            }
        }
    }
}