@import "../../../../styles/index.scss";
.outer-help{

}

.help {
  
  background-color: #f2f2f2;
  min-height: 762px;
  overflow: hidden;

  position: relative;
  .dots-up{
    position: absolute;
    top: 10%;
  }
  h3,h5{ span {
    color: #0059ef;
  }}
 

  &-image {
    padding-top: 58px;
    position: absolute;
    right: 0;
  }
  &-container {
    padding: 54px 23px;
    @media only screen and (max-width: 768px){
    padding-left: 0;
    padding-right: 0;
    }
    @media only screen and (max-width: 576px){
    padding: 20px 0;
    }
  }
  &-heading {
    padding-bottom: 6.1%;
    @media only screen and (max-width: 1200px){
      text-align: center;
    }
    @media only screen and (max-width: 576px){
      padding-right:  20px;
      padding-left:  20px;
    }
  }
  &-cards {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 30px;
    padding-bottom: 7.7%;
    @media only screen and (max-width: 1200px){
      flex-wrap: wrap;
    }
  }
  &-box{  max-width: 266px;
    height: 263px;
    background: white;
    width: 25%;
    position: relative;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    @media only screen and (max-width: 1200px){
      width: 100%;
    }
  
  }
  &-card {
  

    &-1 {
      height: 50%;
  padding: 8%;
    }
    &-2 {
      height: 50%;
      padding: 0 8%;
      .help-card-content2{
        font-size: 13px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
      }
    }
  }
  &-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button{
    border: none;
    cursor: pointer;
    width: 80px;
    height: 44px;
    background: linear-gradient(
277.96deg
, rgba(0, 89, 239, 0.8) 2.6%, #0059EF 99.7%);
    border-radius: 4px;
  }
  &-arrow {
    position: relative;
    .arrow {
      position: absolute;
      left: 27px;
      top: 7px;
    }
  }
}
