
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
  color: #252525;
}
body {
  background-color: #fff;
}

a{
  text-decoration: none;
}

h1 {
  font-size: 50px;
  line-height: 62px;
  margin: 0;
  font-weight: 700;
  @media only screen and (max-width: 1080px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media only screen and (max-width: 992px) {
    font-size: 35px;
    line-height: 37px;
  }
  @media only screen and (max-width: 768px) {
  font-size: 24px;
  line-height: 28px;
  }
  @media only screen and (max-width: 576px) {
    font-size: 30px;
    line-height: 40px;
    }
}
h2 {
  font-size: 42px;
  line-height: 62px;
  margin: 0;
  font-weight: 600;
  @media only screen and (max-width: 1080px) {
  font-size: 36px;
    line-height: 50px;
}
@media only screen and (max-width: 576px) {
  font-size: 30px;
  line-height: 40px;
  }
}
h3 {
  font-size: 40px;
  line-height: 49px;
  margin: 0;
  
  font-weight: 600;
  @media only screen and (max-width: 1080px) {
  font-size: 35px;
    line-height: 44px;
  }
  @media only screen and (max-width: 576px) {
  font-size: 30px;
    line-height: 37px;
  }
}
h4 {
  font-size: 48px;
  line-height: 55px;
  margin: 0;
  font-weight: 700;
}
h5 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
h6 {
 
  margin: 0;
   font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  @media only screen and (max-width: 1080px) {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  @media only screen and (max-width: 576px) {
    font-size: 15px;
    line-height: 25px;
    }
}
p{
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  @media only screen and (max-width: 1080px) {
  font-size: 20px;
  line-height: 30px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 15px;
    line-height: 20px;
    }
    @media only screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 20px;
    }
}

img {
  margin: 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}