@import "../../../styles/index.scss";

.outer-first{
  background-color: #fafafa;
}

.first {
  
  position: relative;
 

  &-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media only screen and (max-width: 992px) {
      padding: 20px 0px 20px 0px;
    }

    align-items: center;

    .first-content {
      max-width: 548px;
      width: 50%;
      @media only screen and (min-width: 1440px) {
        width: 100%;
      }

      h2 {
        margin-bottom: 28px;
        color: #252525;
      }
    }
    .first-image {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    @media only screen and (max-width: 768px) {
      justify-content: center;
      text-align: center;
      .first-content {
        width: 100%;
        @media only screen and (max-width: 575px) {
          padding: 20px;
        }
      }
      .first-image {
        width: 100%;
        display: block;
        img {
          @media only screen and (max-width: 575px) {
            width: 70%;
          }
        }
      }
    }
  }
}
