@import "../../../../styles/index.scss";

.algorithm {
  position: relative;
  .dots-up{
    position: absolute;
    /* top: 47px; */
    top: 8%;
    right: 0;
  }
  .algo-container {
    padding: 27px 75px 90px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 992px){
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    @media only screen and (max-width: 768px){
      padding: 20px 0;
    }
    @media only screen and (max-width: 576px) {
      padding: 20px;
    }
  }
  .algo-heading {
    padding-bottom: 4.4%;
    color: #0059ef;
    h3 {
      font-weight: 700;
      align-self: center;
    }
  }
  .algo-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 768px){
      justify-content: center;
    }
    .algo-image {
      width: 50%;
      img{
        width: 100%;
      }
      @media only screen and (max-width: 768px){
        width: 100%;
      }
    }
    .algo-box{
      max-width: 428px;
      width: 50%;
      @media only screen and (max-width: 768px){
        width: 100%;
        padding-top: 5%;
      }
    }
    .algo-text {
      
    
      .text1,
      .text3 {
        
        width: auto;
      }
      .text2 {
        padding: 10% 0 7% 0;
        max-width: 390px;
        width: auto;
      }
    }
  }
  
   
}
